* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 20px;
}
.feeSubmitted{
    font-weight: bold;
}
label{
    font-size: 18px;
    margin-left: 10px;
}